@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/* desktop */
*{
    font-family: 'Noto Sans KR', sans-serif;
}
@media screen and (min-width:1024px) {

}

/* tablet */
@media screen and (min-width:768px) and (max-width: 1023px) {
    .content{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .content > .text{
        width:100%;
    }
    .content-img>img{
        width:100%;
        justify-content: center;
    }
}

/* mobile */
@media screen and (max-width:767px){ 
    .media-option{
        display:block;
        width: 100%;
        height: 100%;
    }
    .plus{
        display: none;
    }
    .menu{
        width: 100%;
        visibility: visible;
        justify-content: center;
        align-items: center;
        display: flex;

    }   
    .select-ul{
        left: 5.5%;
    }
    .show-option{
        height:220px;
    }
    .select{
        display: flex;
        align-items: center;
    }
    .touch{
        display: none;
    }
    .touch > p{
        display: none;
    }
    .tag{
        width:3rem;
    }
    .content{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .content > .text{
        width:100%;
    }
    .content-img{
        width:100%;
        display: flex;
        justify-content: center;
    }
    .title-text{
        min-width:fit-content;
    }
    .title-text-second{
        min-width:fit-content;
    }
    footer{
        bottom: 0;
        width:100%;
        height: 12.5rem;
        background-color: black;
        display: block;
    }
    main{
        box-sizing: border-box;
    }

}