/* desktop */
@media screen and (min-width:1024px) {

}

/* tablet */
@media screen and (min-width:768px) and (max-width: 1023px) {
	div.content{
        float: left;
        width: 30%;
        margin: 3px;
        margin-top: 60px;
    }
    div.tablet1{
        display: inline;
        float: left;
        margin-top: 30px;
    }
    div.tablet2{
        display: inline;
        float: left;
    }
    div.wrap-content{
        display: inline;
    }
    .content > img {
        object-fit: cover;
        width: 80%;
        border-radius: 30px;
    }
    p.first-content{
        text-align: center;
        margin-left: 180px;
        margin-right: 180px;
    }
    p.first-ctitle{
        border-bottom: solid 2px black;
        padding-bottom: 20px;
    }
    p.title{
        font-size: 21px;
    }
    p.ctitle{
        border-bottom: solid 2px black;
        padding-bottom: 15px;
    }
}

/* mobile */
@media screen and (max-width:767px){ 
	p.first-title{
        float: left;
        position: relative;
        margin-left: 3%;
    }
    p.first-ctitle{
        float: left;
        position: absolute;
        margin-top: 10%;
        margin-left: 8%;
    }
    p.first-content{
        margin-top: 1%;
        margin-left: 30%;
        margin-right: 4%;
    }
    .main-text > .first-content{
        font-size:1.2rem;
    }
}