@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
*{
    margin:0;
    padding: 0;
    
}
body{
    margin:0;
    padding: 0;
    justify-content: center;
    background: url('https://i.ibb.co/Nm0q7Bx/background.png');
    background-repeat: repeat;
    background-size: contain;
    height:100%;
}
p{
    margin:0;
}
.wrap-all{
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.wrap-all > div{
    width:100%;
    margin-left: 0;
    margin-right: 0;
}
.topground{
    width:100%;
    height:100px;
    background: url('https://i.ibb.co/3Y6Mk0P/topground.png');
    background-size: contain;
}
.wrap-nav{
    margin-top: 5px;
    display: flex;
    width:100%;
    justify-content: space-evenly;
    position: relative;
    z-index: 999999999999999999999;
}
.wrap-nav > div{
    height:50px;
    border-radius: 20px;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: end;
    width:70%;
    background-color: rgb(133, 142, 160);
    box-shadow: 2px 3px 3px 1px #dcdcdc;

}
.bx-search{
    font-size: 2rem;
    margin-right:1.2rem;
    color:rgb(255, 255, 255);

}
.select,.plus{
    background-color: #fff;
    width:13%;
    box-shadow: 2px 3px 3px 1px #dcdcdc;
}
.select{
    justify-content: center;
}
.touch,.more-word{
    width:100%;
    height:30px;
    text-align: center;
    padding-top:13px;
    z-index: 9999999;
}
.select:hover, .plus:hover{
    background-color:rgb(234, 237, 241);
    cursor: pointer;
}
.select-ul{
    position: absolute;
    top:35px;
    left:1%;
    text-align: center;
    flex-direction: column;
    background-color:rgb(248, 248, 248);
    height: 0;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 0 0 20px 20px;
    z-index: -1;
    width:13%;
    box-shadow: 2px 3px 3px 1px #dcdcdc;
}
.select-ul:hover{
    transition: 1s;
}
.select-option{
    width:100%;
    margin-top:10px;
    height:40px;
}
.show-option{
    height: 165px;
}
.media-option{
    display: none;;
}
.select-option > a{
    width:100%;
    height: 100%;
}
.title-coll{
    width:100%;
    height:4rem;
    display: flex;
    align-items: baseline;  
    margin:0;
    margin-top: 1.3rem; 
}
.tag{
    width:4%;
    height:1rem;
    background-color: #e38d8d;
    font-size: 0.6rem;
    text-align: center;
    border-radius: 1rem;
    margin-left: 0.5rem;
    color:#fff;

}
.title-text{
    margin-left:1rem ;
    font-size: 2.5rem;
    font-weight: bold;
}
.menu{
    width:100%;
    visibility: hidden;
}
.words{
    flex-direction: column;
    justify-content: space-evenly;
    width:100%;
    display: flex;
    margin-top: 0.8rem;
    align-items: center;
}
.word{
    display: flex;
    align-items: center;
    margin:1rem 0 1rem 0;
    border: black solid 0.2px;
    border-radius: 10px;
    width:90%;
    padding:1% 0 1% 0;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.3);
}
.word:hover{
    box-shadow: 2px 3px 3px 1px #dcdcdc;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}
.title-word{
    font-weight:bold;
    font-size: 1.5rem;
    width:30%;
    height:fit-content;
    text-align: left;
    margin-left: 2%;
    height:fit-content;
}
.explain{
    width:65%;
    height:fit-content;
    font-size: 1rem;
    margin-left: 2%;

}
.next-word{
    width:100%;
    justify-content: center;
    display: flex;
}
.next-word > ul{
    width:100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding-bottom: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
}
.next-word > ul li{
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;

}
.next-word > ul > a{
   text-decoration:none;
   min-width: 2rem;
   flex-shrink: 0;
   width:3%;
   height:1.5rem;
}
.next-word > ul > a:link {
    color : black;
}
.next-word > ul > a:visited {
color : black;
}
.next-word > ul > a:hover {
color : gray;
}
.next-word > ul > a:active {
color : black;
}
.plus > a{
    text-decoration: none;
}
.plus > a:link{
    color : black;
}
.plus > a:visited {
color : black;
}
.plus > a:hover {
color : darkblue;
}
.plus > a:active {
color : black;
}
.touch:hover{
    cursor: pointer;
    color:darkblue;
}
.select-option > a{
    border-radius: 5px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    padding-top:15px;
}
.select-option > a:link{
    color : black;
}
.select-option > a:visited {
color : black;
}
.select-option > a:hover {
    background-color: #dcdcdc;
}
.select-option > a:active {
color : black;
}
footer{
    width:100%;
    height: 12.5rem;
    background-color: black;
}
i {
    font-size: 3rem;
}footer{ 
    display: flex;
    flex-direction: column;
    width: 100%;
    height:230px;
    background-color: rgb(15, 20, 31);
    color:rgb(77, 78, 81);
    text-align: center;
    padding-top:50px;
}
footer>div{
    width:100%;
    margin-bottom: 0.5  rem;
    height: fit-content;
}
span>p{
    height: 2rem;
    margin:0;
    padding: 0;
}
.left{
    height: fit-content;
    margin-left:2px;
    float:left;
    width:49%;
    text-align: right;
}
.right{
    height: fit-content;
    margin-right:2px;
    float:right;
    width:49%;
    text-align: left;
}

#up{
    height: fit-content;
    margin-bottom: 1.5rem;
    width:100%;
    text-align: center;
}
i{
    font-size: 2rem;
}