@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
*{
    margin:0;
    padding: 0;
}
body{
    background-color: #81bef7;
    margin:0;
    padding: 0;
    justify-content: center;;
}

p{
    margin:0;
}
.wrap-all{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.wrap-all > div{
    width:100%;
    margin-left: 0;
    margin-right: 0;
}
.wrap-nav{
    margin-top: 60px;
    display: flex;
    width:100%;
    justify-content: space-evenly;
    position: relative;
    z-index: 999999999999999999999;
}
.wrap-nav > div{
    height:50px;
    border-radius: 20px;
}

.wrap-nav > .search-bar{
    width:70%;
    background-color: #555;
}
.bx-search{
    font-size: 2rem;
    margin-right:1.2rem;
}
.select,.plus{
    background-color: yellowgreen;
    width:13%;
}
.select{
    justify-content: center;
}
.touch,.more-word{
    width:100%;
    height:30px;
    text-align: center;
    padding-top:15px;
}
.select-option:hover{
    background-color:black;
    color:white;
}
.select-ul{
    width:100%;
    text-align: center;
    margin:0;
    padding:0;
    list-style: none;
    display: none;

}
.select-option{
    width:100%;
    display: block;
    height:35px;
    background-color: antiquewhite;
    padding-top:10px;
}
.show-option{
    display:block;
}
.title-coll{
    width:100%;
    height:4rem;
    display: flex;
    align-items: baseline;  
    margin:0;
    margin-top: 0.8rem; 
}
.tag{
    width:4%;
    height:1rem;
    background-color: aliceblue;
    font-size: 0.6rem;
    text-align: center;
    border-radius: 1rem;
    margin-left: 0.5rem;

}
.title-text{
    margin-left:0.8rem ;
    font-size: 2.5rem;
    background-color: blue;
}

.words{
    flex-direction: column;
    justify-content: space-evenly;
    width:100%;
    height:500px;
    background-color: #555;
    display: flex;
    margin-top: 0.8rem;
}
.word{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title-word{
    font-size: 1.5rem;
    width:30%;
    text-align: left;
    margin-left: 2%;
    height:2.5rem;
    border: black solid 1px;
    padding:0.55rem 0 0 0;
    

}
.explain{
    width:60%;
    height:2rem;
    text-align: left;
    padding:0.72rem 0 0 0;
    border: black solid 1px;
    font-size: 1rem;
}
.next-word{
    justify-content: center;
    display: flex;
}
.next-word > ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.next-word > ul>li{
    width:1.5rem;
    height:1.5rem;
    background-color: yellow;
    text-align: center;
    margin: 0;
    padding: 0;
}
footer{
    width:100%;
    height: 12.5rem;
    background-color: black;
}