@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

*{
margin:0;
padding: 0;
}

body{
    background-color: #81bef7;
    margin:0;
    padding: 0;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
    background: url('https://i.ibb.co/Nm0q7Bx/background.png');
    background-repeat: repeat;
    background-size: contain;

}
.topground{
    width:100%;
    height:100px;
    background: url('https://i.ibb.co/3Y6Mk0P/topground.png');
    background-size: contain;
}
p{
    margin:0;
}
.wrap-all{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:1080px;
}
.wrap-all > div{
    width:100%;
    margin-left: 0;
    margin-right: 0;
}
.wrap-nav{
    margin-top: 5px;
    display: flex;
    width:100%;
    justify-content: space-evenly;
    position: relative;
    z-index: 999999999999999999999;
}
.wrap-nav > div{
    height:50px;
    border-radius: 20px;
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: end;
    width:70%;
    background-color: rgb(133, 142, 160);
    box-shadow: 2px 3px 3px 1px #dcdcdc;
}
.bx-search{
    font-size: 2rem;
    margin-right:1.2rem;
    color:rgb(255, 255, 255);
}
.select,.plus{
    background-color: #fff;
    width:13%;
    box-shadow: 2px 3px 3px 1px #dcdcdc;
}
.select{
    justify-content: center;
}
.touch,.more-word{
    width:100%;
    height:30px;
    text-align: center;
    padding-top:15px;
    z-index: 9999999;
}
.select:hover, .plus:hover{
    background-color:rgb(234, 237, 241);
}
.select-ul{
    position: absolute;
    top:35px;
    left:1%;
    text-align: center;
    flex-direction: column;
    background-color:rgb(248, 248, 248);
    height: 0;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 0 0 20px 20px;
    z-index: -1;
    width:13%;
    box-shadow: 2px 3px 3px 1px #dcdcdc;
}
.select-ul:hover{
    transition: 1s;
}
.select-ul>li{
    list-style: none;
}
.select-option{
    width:100%;
    margin-top:10px;
    height:40px;
}
.show-option{
    height: 165px;
}
.media-option{
    display: none;;
}
.select-option > a{
    display: block;
}
.menu{
    width:100%;
    visibility: hidden;
}
.touch:hover{
    cursor: pointer;
    color:darkblue;
}
.select-option > a{
    border-radius: 5px;
    text-decoration: none;
    display: block;
    padding-top:15px;
    width: 100%;
    height: 100%;
}
.select-option > a:link{
    color : black;
}
.select-option > a:visited {
color : black;
}
.select-option > a:hover {
    background-color: #dcdcdc;
}
.select-option > a:active {
color : black;
}
.plus > a{
    text-decoration: none;
}
.plus > a:link{
    color : black;
}
.plus > a:visited {
color : black;
}
.plus > a:hover {
color : darkblue;
}
.plus > a:active {
color : black;
}
.title-coll{
    width:100%;
    height:4rem;
    display: flex;
    align-items: center;  
    margin:0;
    margin-top: 0.8rem; 
}

.title-text{
    margin-left:0.8rem ;
    font-size: 2.5rem;
    font-weight: bold;
}
.title-coll{
    width:100%;
    height:4rem;
    display: flex;
    align-items: baseline;  
    margin:0;
    margin-top: 0.8rem; 
}
.content-coll{
    width:100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
.innerContent{
    width:90%;
    height:fit-content;
    padding:1% 0 1% 0;
    margin: 1rem 0 1rem 0;
    background-color: rgb(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    border: gray 0.3px solid;
    border-radius: 10px;
}
.innerContent:hover{
    background-color: rgb(255, 255, 255, 0.7);
    box-shadow: 2px 3px 3px 1px #dcdcdc;
    cursor: pointer;

}
.innerContent > img{
    width:70px;
    margin-left:1rem;
}
.innerContent-text{
    font-size: 2rem;
    margin-left:1rem;
    width:30%;
    height:fit-content;
    font-weight: bold;
}
.innerContent-text-ex{
    margin-left:2%;
    width:50%;
    height:2.2rem;
    height:fit-content;
}
footer{
    bottom: 0;
    width:100%;
    height: 15rem;
    background-color: black;
}
.title-text{
    min-width:fit-content;
}
#none{
    width:100%;
}
i {
    font-size: 3rem;
}
footer{ 
    display: flex;
    flex-direction: column;
    width: 100%;
    height:230px;
    background-color: rgb(15, 20, 31);
    color:rgb(77, 78, 81);
    text-align: center;
    padding-top:50px;
}
footer>div{
    width:100%;
    margin-bottom: 0.5  rem;
    height: fit-content;
}
span>p{
    height: 2rem;
    margin:0;
    padding: 0;
}
.left{
    height: fit-content;
    margin-left:2px;
    float:left;
    width:49%;
    text-align: right;
}
.right{
    height: fit-content;
    margin-right:2px;
    float:right;
    width:49%;
    text-align: left;
}

#up{
    height: fit-content;
    margin-bottom: 1.5rem;
    width:100%;
    text-align: center;
}
i{
    font-size: 2rem;
}
