@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
html{
    height: fit-content;
}
body{
    height:100%;
    width:100%;
    justify-content: center;
    background: url('https://i.ibb.co/Nm0q7Bx/background.png');
    background-repeat: repeat;
    background-size: contain;
}
.topground{
    width:100%;
    height:100px;
    background: url('https://i.ibb.co/3Y6Mk0P/topground.png');
    background-size: contain;
}
p{
    margin:0;
}
.wrap-all{
    height:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
.wrap-all > div{
    width:100%; 
    margin-left: 0;
    margin-right: 0;
}
.wrap-nav{
    margin-top: 5px;
    display: flex;
    width:100%;
    justify-content: space-evenly;
    position: absolute;
    z-index: 999999999999999999999;
}
.wrap-nav > div{
    height:50px;
    border-radius: 20px;
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: end;
    width:70%;
    background-color: rgb(133, 142, 160);
    box-shadow: 2px 3px 3px 1px #dcdcdc;
}
.bx-search{
    font-size: 2rem;
    margin-right:1.2rem;
    color:rgb(255, 255, 255);
}
.select,.plus{
    background-color: #fff;
    width:13%;
    box-shadow: 2px 3px 3px 1px #dcdcdc;
}
.select{
    justify-content: center;
}
.touch,.more-word{
    width:100%;
    height:30px;
    text-align: center;
    padding-top:15px;
    z-index: 9999999;
}
.select:hover, .plus:hover{
    background-color:rgb(234, 237, 241);
}
.select-ul{
    position: absolute;
    top:35px;
    left:1%;
    text-align: center;
    flex-direction: column;
    background-color:rgb(248, 248, 248);
    height: 0;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 0 0 20px 20px;
    z-index: -1;
    width:13%;
    box-shadow: 2px 3px 3px 1px #dcdcdc;
}
.select-ul:hover{
    transition: 1s;
}
.select-option{
    width:100%;
    margin-top:10px;
    height:40px;
}
.show-option{
    height: 165px;
}
.select-option > a{
    display: block;
}
.menu{
    width:100%;
    visibility: hidden;
}
.touch:hover{
    cursor: pointer;
    color:darkblue;
}
.select-option > a{
    border-radius: 5px;
    text-decoration: none;
    display: block;
    padding-top:15px;
    width: 100%;
    height: 100%;
}
.select-option > a:link{
    color : black;
}
.select-option > a:visited {
color : black;
}
.select-option > a:hover {
    background-color: #dcdcdc;
}
.select-option > a:active {
color : black;
}
.plus > a{
    text-decoration: none;
}
.plus > a:link{
    color : black;
}
.plus > a:visited {
color : black;
}
.plus > a:hover {
color : darkblue;
}
.plus > a:active {
color : black;
}
.main-text{
    padding-top:40px;
    padding-bottom: 40px;
    height:180px;
    margin-top: 20px;
    justify-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.main-text > .first-title{
    font-weight: bold;
    font-size: 3rem;

}
.first-ctitle{
    font-size: 1.3rem;
    margin-bottom: 20px;
    width:90%;
    border-bottom: solid 0.3px black;
    padding-bottom: 10px;
}
.main-text > .first-content{
    font-size:1.5rem;
}
.first-content, .first-ctitle{
text-align: center;

}
.main-content {
    display: flex;
    justify-content: center;
}
.wrap-content{
    width:95%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;


}
.media-option{
    display: none;;
}
.content > img {
    max-width: 60%;
    border-radius: 100%;
    margin-bottom : 1rem;
    box-shadow: 2px 3px 3px 1px #dcdcdc;

}
.content{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    
}
.content:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.7);
    box-shadow: 2px 3px 3px 1px #dcdcdc;
}
 .tablet1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
 .tablet2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.title{
    margin:0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;

}
.ctitle{
    text-align: center;
    font-size:.9rem;
    margin-bottom: 20px;
    border-bottom: solid 0.3px black;
    padding-bottom: 15px;
}
.content-text{
    font-size: 1rem;
    text-align: center;
    margin-top:20px;
    margin-right:0;
}
.time-line{
    width:100%;
    height: 100%;
    position: relative;
}
.year-1900{
    width:100%;
    margin-left:3%;
    font-size: 10rem;
    opacity: 0.3;
    font-weight: bold;
    letter-spacing: -1rem;
    margin-top:4%;
}
.year-1960{
    width:100%;
    margin-top:50px;
    margin-right:3%;
    text-align: right;
    font-size: 10rem;
    opacity: 0.3;
    font-weight: bold;
    letter-spacing: -1rem;
}
.timeline-content > img{
    max-width:10%;
    border-radius: 100%;
    box-shadow: 2px 3px 3px 1px #dcdcdc;
}
.timeline-content-wrap{
    width:100%;
    height:100%;
    
    margin-bottom:1rem;
}
.timeline-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:120%;
}
.timeline-img-text{
    margin-left: 1rem;
}
.timeline-img-text > a{
    margin:0;
    font-size: 2rem;
    font-weight: bold;
    display: block;
    text-align: center;
}
.timeline-img-text > p{
    text-align: center;
}
#timeline-content-first{
    padding:10% 0 0 15%;
}
#timeline-content-second{
    padding:5% 0 0 67%;
}
#timeline-content-third{
    padding:20% 0 0 25%;
}
#timeline-content-fourth{
    padding:15% 0 0 60%;
}
#timeline-content-fifth{
    padding:30% 0 0 55%;
}
#timeline-content-sixth{
    padding:30% 0 0 55%;
    display: none;
}

.timeline-bg{
    margin-top:6%;
    width:100%;
    height: 100%;
    position: absolute; 
    overflow: hidden;
    z-index:-8888;
}
.timeline-bg img{
    width:100%;
}
footer{ 
    display: flex;
    flex-direction: column;
    width: 100%;
    height:230px;
    background-color: rgb(15, 20, 31);
    color:rgb(77, 78, 81);
    text-align: center;
    padding-top:50px;
}
footer>div{
    width:100%;
    margin-bottom: 0.5  rem;
    height: fit-content;
}
span>p{
    height: 2rem;
    margin:0;
    padding: 0;
}
.left{
    height: fit-content;
    margin-left:2px;
    float:left;
    width:49%;
    text-align: right;
}
.right{
    height: fit-content;
    margin-right:2px;
    float:right;
    width:49%;
    text-align: left;
}

#up{
    height: fit-content;
    margin-bottom: 1.5rem;
    width:100%;
    text-align: center;
}
.line{
    margin-top: 6%;
    position: absolute;
    z-index: -9999;
}