@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
*{
    margin:0;
    padding: 0;
}
body{
    background-color: #81bef7;
    margin:0;
    padding: 0;
    justify-content: center;
    background: url('https://i.ibb.co/Nm0q7Bx/background.png');
    background-repeat: repeat;
    background-size: contain;
}

p{
    margin:0;
}
.wrap-all{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.wrap-all > div{
    width:100%;
    margin-left: 0;
    margin-right: 0;
}
.wrap-nav{
    margin-top: 60px;
    display: flex;
    width:100%;
    justify-content: space-evenly;
    position: relative;
    z-index: 999999999999999999999;
}
.wrap-nav > div{
    height:50px;
    border-radius: 20px;
}
.search-bar{
    display: flex;
    align-items: center;
    width:70%;
    justify-content: end;
    background-color: yellowgreen;
}
.bx-search{
    font-size: 2rem;
    margin-right:1.2rem;
}
.select,.plus{
    background-color: aliceblue;
    width:13%;
}
.select{
    justify-content: center;
}
.touch,.more-word{
    width:100%;
    height:30px;
    text-align: center;
    padding-top:15px;
}
.select-option:hover{
    color:white;
    transition: 0.4s;
    background-color: #000;
}
.select-ul{
    width:100%;
    text-align: center;
    margin:0;
    padding:0;
    list-style: none;
    display: none;
}
.select-option{
    width:100%;
    display: block;
    height:35px;
    padding-top:10px;
    background-color: #fff;

}
.show-option{
    display:block;
    transition: 1s;
}

.main-text{
    padding-top:40px;
    padding-bottom: 40px;
    height:180px;
    margin-top: 20px;
    justify-content: center;

}
.main-text > .first-title{
    font-weight: bold;
    font-size: 3rem;

}
.main-text > .first-ctitle{
    font-size: 1.3rem;
    margin-bottom: 40px;
}
.main-text > .first-content{
    font-size:1.5rem;
}
.main-text p{
text-align: center;

}
.main-content {
    display: flex;
    justify-content: center;
}
.wrap-content{
    width:95%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}
.content > img {
    object-fit: cover;
    width: 60%;
    border-radius: 100%;

}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.title{
    margin:0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.ctitle{
    text-align: center;
    font-size:.9rem;
    margin-bottom: 20px;
}
.content-text{
    font-size: 1rem;
    text-align: center;
    margin-top:20px;
    margin-right:0;
}

.time-line{
    height:1800px ;
    margin : 20px;
}

.year-1900, .year-2000{
    margin-left:3%;
    font-size: 4rem;
}
.year-2000{
    margin-top:40rem;
}
.year-1960{
    margin-top:30rem;
    margin-right:3%;
    text-align: right;
    font-size: 4rem;
}

.footer{
    height:200px;
    background-color: black;
}

