@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
body{
    background-color: #81bef7;
    margin:0;
    padding: 0;
    justify-content: center;
    background: url('https://i.ibb.co/Nm0q7Bx/background.png');
    background-repeat: repeat;
    background-size: contain;
}
.topground{
    width:100%;
    height:100px;
    background: url('https://i.ibb.co/3Y6Mk0P/topground.png');
    background-size: contain;
}
.topground > img{
    width:600px;
}
p{
    margin:0;
}
.wrap-all{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.wrap-all > div{
    width:100%;
    margin-left: 0;
    margin-right: 0;
}
.wrap-nav{
    margin-top: 5px;
    display: flex;
    width:100%;
    justify-content: space-evenly;
    position: relative;
    z-index: 999999999999999999999;
}
.wrap-nav > div{
    height:50px;
    border-radius: 20px;
}
.search-bar{
    display: flex;
    align-items: center;
    width:70%;
    justify-content: end;
    background-color: yellowgreen;
}
.bx-search{
    font-size: 2rem;
    margin-right:1.2rem;
}
.select,.plus{
    background-color: aliceblue;
    width:13%;
}
.select{
    justify-content: center;
}
.touch,.more-word{
    width:100%;
    height:30px;
    text-align: center;
    padding-top:15px;
}
.select-option:hover{
    color:white;
    transition: 0.4s;
    background-color: #000;
}
.select-ul{
    width:100%;
    text-align: center;
    margin:0;
    padding:0;
    list-style: none;
    display: none;
}
.select-option{
    width:100%;
    display: block;
    height:35px;
    margin:0;   
    padding-top:10px;
    background-color: #fff;
}
.show-option{
    display:block;
    transition: 1s;
}
.select-option > a{
    display: block;
}
.main-text{
    padding-top:40px;
    padding-bottom: 40px;
    height:180px;
    margin-top: 20px;
    justify-content: center;

}
.main-text > .first-title{
    font-weight: bold;
    font-size: 3rem;

}
.main-text > .first-ctitle{
    font-size: 1.3rem;
    margin-bottom: 40px;
}
.main-text > .first-content{
    font-size:1.5rem;
}
.main-text p{
text-align: center;

}
.main-content {
    display: flex;
    justify-content: center;
}
.wrap-content{
    width:95%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}
.content > img {
    max-width: 60%;
    border-radius: 100%;
    margin-bottom : 1rem;

}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.title{
    margin:0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.ctitle{
    text-align: center;
    font-size:.9rem;
    margin-bottom: 20px;
}
.content-text{
    font-size: 1rem;
    text-align: center;
    margin-top:20px;
    margin-right:0;
}

.time-line{
    width:100%;
    margin : 20px;
    margin-top: 3rem;
}
.year-1900{
    width:100%;
    margin-left:3%;
    font-size: 4rem;
}
.year-1960{
    width:100%;
    margin-top:50;
    margin-right:3%;
    text-align: right;
    font-size: 4rem;
}

.timeline-content > img{
    max-width:10%;
    border-radius: 100%;
}
.timeline-contnet-wrap{
    width:100%;
    position: relative;
}
.timeline-contnet-wrap > p{
    position: absolute;
}
.timeline-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;
}
.timeline-img-text{
    margin-left: 1rem;
}
.timeline-img-text > a{
    margin:0;
    font-size: 2rem;
    font-weight: bold;
    display: block;
}
.timeline-img-text > p{
    text-align: center;
}
#timeline-content-first{
    padding:15% 0 0 20%;
}
#timeline-content-second{
    padding:15% 0 0 70%;
}
#timeline-content-third{
    padding:27% 0 0 25%;
}
#timeline-content-fourth{
    padding:20% 0 0 60%;
}
#timeline-content-fifth{
    padding:30% 0 0 20%;
}
.timeline-bg{
    position:absolute;
    width: 100vw;
}
.timeline-bg > img{
    width:100%;
    height:fit-content;
}
footer{
    width:100%;
    height:500px;
    background-color: black;
}

